<div class="container-fluid">


    <div class="card" >
        <img src="../../../assets/images/lipstick.jpg" class="card-img-top" [routerLink]="['/lipcare']" alt="...">
      <div class="card-body">
          <h5 class="card-title">Lip care</h5>
          <p class="card-text">View All Lip care</p>
          <a  [routerLink]="['/lipcare']" class="btn btn-warning"><b>Click to View</b></a>
        </div>
      </div>
`
      


      <div class="card" >
        <img src="../../../assets/images/creams.jpg" class="card-img-top" [routerLink]="['/creamsLotions']" alt="...">
        <div class="card-body">
          <h5 class="card-title">Creams and lotions</h5>
          <p class="card-text"> View All Creams and lotions</p>
          <a  [routerLink]="['/creamsLotions']" class="btn btn-warning"><b>Click to View</b></a>
        </div>
      </div>





</div>