<div class="container-fluid">


    <div class="card" >
        <img src="../../../assets/images/diaper.jpg" class="card-img-top" [routerLink]="['/diapers']" alt="...">
      <div class="card-body">
          <h5 class="card-title">Diapers</h5>
          <p class="card-text">View All Diapers</p>
          <a  [routerLink]="['/diapers']" class="btn btn-warning"><b>Click to View</b></a>
        </div>
      </div>
`
      


      <div class="card" >
        <img src="../../../assets/images/babycloth.jpg" class="card-img-top" [routerLink]="['/babyClothes']" alt="...">
        <div class="card-body">
          <h5 class="card-title">Baby Cloths</h5>
          <p class="card-text"> View All Baby Cloths</p>
          <a  [routerLink]="['/babyClothes']" class="btn btn-warning"><b>Click to View</b></a>
        </div>
      </div>






</div>