<div class="container-fluid">




    <div class="card" >
        <img src="../../../assets/images/electro.jpg" class="card-img-top" [routerLink]="['/electronics']" alt="...">
        <div class="card-body">
          <h5 class="card-title">Electronics</h5>
          <p class="card-text">View all Electronics</p>
          <a  [routerLink]="['/electronics']" class="btn btn-primary">Click to View</a>
        </div>
      </div>


      <div class="card" >
        <img src="../../../assets/images/baby.jpg" class="card-img-top" [routerLink]="['/babycare']" alt="...">
        <div class="card-body">
          <h5 class="card-title">Baby Care</h5>
          <p class="card-text">View all Baby Care</p>
          <a  [routerLink]="['/babycare']" class="btn btn-primary">Click to View</a>
        </div>
      </div>


      <div class="card">
        <img src="../../../assets/images/b2.jpg" [routerLink]="['/beautycare']" class="card-img-top" alt="...">
        <div class="card-body" >
          <h5 class="card-title">Beauty Care Products</h5>
          <p class="card-text">View all Beauty Care Products</p>
          <a  [routerLink]="['/beautycare']" class="btn btn-primary">Click to View</a>
        </div>
      </div>










</div>