<div class="container-fluid">


    <div class="card" >
        <img src="../../../assets/images/mobiles.jpg" class="card-img-top" [routerLink]="['/mobiles']" alt="...">
      <div class="card-body">
          <h5 class="card-title">Mobiles</h5>
          <p class="card-text">View all Mobiles</p>
          <a  [routerLink]="['/mobiles']" class="btn btn-warning"><b>Click to View</b></a>
        </div>
      </div>
`
      


      <div class="card" >
        <img src="../../../assets/images/tablet.jpg" class="card-img-top" [routerLink]="['/tablets']" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tablets</h5>
          <p class="card-text">View all Tablets</p>
          <a  [routerLink]="['/tablets']" class="btn btn-warning"><b>Click to View</b></a>
        </div>
      </div>


      <div class="card">
        <img src="../../../assets/images/washing.jpg" [routerLink]="['/washingMachines']" class="card-img-top" alt="...">
        <div class="card-body" >
          <h5 class="card-title">Washing Machines</h5>
          <p class="card-text">View all Washing Machines</p>&nbsp;&nbsp;&nbsp;
          <a  [routerLink]="['/washingMachines']" class="btn btn-warning"><b>Click to View</b></a>
        </div>
      </div>



</div>